[submodule "cmake"]
	path = cmake
	url = git@github.com:/Deadcoast/cmake-modules.git
[submodule "src/network"]
	path = src/network
	url = git@github.com:Deadcoast/network-utils.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
